/* ~~~~~ GLOBAL RULES ~~~~~ */
* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

.header {
  display: flex;
  justify-content: space-around;
  /* border: solid black; */
  background-color: #2b2b2b;
  color: white;
  padding: 2%;
  padding-top: 4%;
  padding-bottom: 0%;
  margin: -1%;
}

.leftHead {
  display: flex;
  flex-direction: row;
  gap: 35%;
  margin-left: -29%;
  white-space: nowrap;
  align-items: center;
  align-content: space-around;
  justify-content: flex-start;
  padding-left: 1%
}

.sharing {
  display: flex;
  padding-left: 1%
}

.shareIcon {
  height: auto;
  width: 20%;
  margin-right: 5%;

}

.lists {
  display: flex;
}

.listIcon {
  height: auto;
  width: 20%;
  margin-right: 5%;
}

.personal {
  display: flex;
}

.personIcon {
  height: auto;
  width: 20%;
  margin-right: 5%;
}

.rightHead {
    display: flex;
    margin-right: -29%;
    flex-direction: column;
    align-items: center;
}

.account {
    display: flex;
    margin-top: -17%;
    font-size: small;
}

.webTitle {
    font-size: xxx-large;
    margin-top: -4%;
    margin-bottom: 6%;
}

.accountText {
    color: #27a5e8;
}

body {
  background: whitesmoke;
}

.sectionTitle {
  margin: 2%;
  font-size: xx-large;
  font-weight: bolder;
  color: dimgray;
}

/* Default Card Rules */
.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.card {
  width: 22.5%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* margin: ; */
  margin-bottom: 1%;
}

.cardHead {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: -8%;
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url('images/stock-man.jpg');
  background-size: cover;
  background-position: center; */
  /* filter: brightness(0.6); */
}

.cardOne {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url('images/stock-man.jpg');
  background-size: cover;
  background-position: center;
}

.cardTwo {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url('images/stock-man2.jpg');
  background-size: cover;
  background-position: center;
}

.cardThree {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url('images/stock-man3.jpg');
  background-size: cover;
  background-position: center;
}

.cardFour {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url('images/stock-woman.jpg');
  background-size: cover;
  background-position: center;
}

.cardFive {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url('images/stock-woman2.jpg');
  background-size: cover;
  background-position: center;
}

.cardSix {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url('images/stock-man4.jpg');
  background-size: cover;
  background-position: center;
}

.cardSeven {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url('images/stock-woman3.jpg');
  background-size: cover;
  background-position: center;
}

.cardEight {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url('images/stock-man5.jpg');
  background-size: cover;
  background-position: center;
}

.forwardImageIcon {
    height: auto;
    width: 20%;
    margin-left: 6%;
    margin-bottom: 26%;
}

.viewCount {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    padding-block: 10%;
    margin-top: -11%;
    margin-right: 8%;
    font-weight: bold;
    align-items: center;
}

.viewTitle {
  /* color: white; */
}

.viewNum {
  margin-top: -25%;
}

.cardBody {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding: 8%;
  margin-bottom: -8%;
}

.recipName {
  font-weight: bold;
  margin-bottom: -2%;
}

.cardDate {
  font-weight: lighter;
  font-size: x-small;
  color: gray
}

.playlistURL {
  font-size: 65%;
  background: #8080804a;
}

.playlistTitle {
  font-size: x-small;
  margin-bottom: -3%;
}

.playlistName {}

.attachmentsTitle {
  font-size: x-small;
  margin-bottom: -7%;
}

.attachementsNum {
  font-size: x-large;
  color: #27a5e8
}

/* 1200 PX Card Rules */
@media (max-width: 1200px) {
  .cardContainer {
    display: flex;
  }

  .card {
    display: flex;
    width: 35%;
  }

  .header {

  }

  .leftHead {
    margin-left: -10%;
    display: flex;
    flex-direction: column;
  }

  .rightHead {
    margin-right: -5%;
    display: flex;
    align-items: flex-end;
  }

  .account {
    display: flex;
    margin-top: -1%;
}
}

/* 700 PX Card Rules */
@media (max-width: 700px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .card {
    display: flex;
    width: 75%;
  }

  .header {display: flex;}

  .leftHead {display: flex;flex-direction: column;align-items: flex-start;}

  .rightHead {display: flex;align-items: flex-end;}

  .webTitle {
    font-size: x-large;
  }

  .account {
    display: flex;
    margin-top: 7%;
}
}
